.news {
    background-color: #ffffff;
    color: #000;
    @media (max-width: 476.98px) {
        .page__title {
            font-size: 40px;
        }
    }
    @media (max-width: 353.98px) {
        .page__title {
            font-size: 35px;
        }
    }
    &__blocks {
        &-item {
            @media (max-width: 1191.98px) {
                flex-direction: column;
            }
            @media (max-width: 992.98px) {
                .read__more-news {
                    display: flex;
                    justify-content: center;
                }
            }
            display: flex;
            padding: 64px 0 64px 0;
            border-bottom: 3px solid rgba(52, 52, 52, 0.5);
            gap: 34px;
            .date {
                text-align: right;
                color: #34343480;
                position: relative;
                &__month {
                    font-weight: 600;
                    font-size: 34px;
                    line-height: 51px;
                    text-transform: uppercase;
                }
                .border__news {
                    width: 56px;
                    height: 3px;
                    position: absolute;
                    right: 0;
                    background: rgba(52, 52, 52, 0.5);
                }
                &__day {
                    font-weight: 500;
                    font-size: 34px;
                    line-height: 51px;

                    text-transform: uppercase;
                }
            }
            .content__news {
                .title__news {
                    font-weight: 500;
                    font-size: 34px;
                    line-height: 51px;
                    margin-top: 14px;
                    text-transform: uppercase;
                    color: #05192f;
                    @media (max-width: 1191.98px) {
                        margin-top: 0px;
                    }
                }
                .content__news-text {
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;

                    color: #000000;
                    margin-bottom: 86px;
                }
                .read__more-news {
                    font-size: 16px;
                    line-height: 24px;
                    border: 1px solid #05192f;
                    padding: 5px 10px;
                    text-align: center;
                    color: #05192f;
                    &:hover {
                        background-color: #05192f;
                        color: #fff;
                        transition: 0.6s;
                    }
                }
            }
        }
    }
}
